<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	

</head>
<body>
    <div>
        <h3>Perguntas frequentes</h3>
    <br>
    <div class="d-flex justify-content-center links">
    <a href="{{url_for('home')}}">Volte a pagína Inicial</a>
    </div>

    <div>
    <b>Página Inicial:</b>
    <br>
    <img src="/static/PaginaInicial.png" width="800" class="d-flex justify-content-center links">
    </div>

    <br>    
    <b>Tela de Login:</b>
    <br>
    <img src="/static/Login.png" width="800">
    <div>

    <br>
    <b>Tela de Cadastro:</b>
    <br>
    <img src="/static/Cadastro.png" width="800">
    </div>

    <br>
    <b>Tela Princípal:</b>
    <br>
    <img src="/static/TelaGestãoPedido.png" width="800">
    </div>

    <br>
    <b>Adicionando um pedido:</b>
    <br>
    <img src="/static/AddPedido.png" width="700">
    </div>

</body>

</html>